{
    "presets": [
      ["@babel/preset-env", {
        "targets": {
          "browsers": ["last 2 versions"]
        }
      }]
    ],
    "plugins": [
        ["@babel/plugin-proposal-pipeline-operator", { "proposal": "minimal" }],
        "@babel/plugin-proposal-optional-chaining",
        "@babel/plugin-transform-arrow-functions",
        "@babel/plugin-transform-runtime"
    ]    
}